/* header for page */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 75px;
  text-align: center;
  color: #ffc857;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #f78f3b, 0 0 0.5em 
              #f78f3b, 0 0 0.1em #f78f3b, 0 2px 3px #000;
}

h1 span {
  animation: blink linear infinite 5s;
}
h1 span:nth-of-type(2){
  animation: blink linear infinite 5.2s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #eed39e;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #eed39e;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #9b762e;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

table {
  margin-left: auto;
  margin-right: auto;
}

body {
  /* background-color: #1f2041; */
  background: linear-gradient(-45deg, #1f2041, #4b3f72, #ab81cd);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 2px #ffc857;
  position: relative;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  position: absolute;
  top: 0%;
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  animation-name: falling;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.245, 0.05, 0.55, 0.95);
}

@keyframes falling {
  0% {
    top: -300%;
  }
  25% {
    top: -225%;
  }
  50% {
    top: -150%;
  }
  75% {
    top: -75%;
  }
  100% {
    top: 0%;
  }
} 

.p1 {
  background: linear-gradient(-45deg, #e68609, #b4aca2);
  
}
.p2 {
  background: linear-gradient(-45deg, #ffc857, #ffe7b4);
}



/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
  position: relative;
}

#column-top td:hover {
  background-color: #ffc857;
}


/* piece animation and background code adapted from 'Pure CSS Gradient Background Animation', Manuel Pinto - https://codepen.io/P1N2O/pen/pyBNzX */

